<div class="row">
  <h1>購物車內容</h1>
  <div class="col-md-10 col-md-offset-1" >
    <table class="table">
      <thead><tr><th>#</th><th style="width: 15%"></th><th style="width: 60%">商品名稱</th><th>數量</th><th>小計</th><th></th></tr></thead>
      <% @total =0 %>
      <% @products.each_with_index do |product, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%=link_to(image_tag(product.photo.thumb.url) ,group_product_path(product.group_id,product),:class =>"thumb") if product.photo? %></td>
          <td>
            <h4>
              <em><%= product.name %></em>
              <small>
                <% if product.bargain == 0 %>
                  <%= @price=product.price %>
                <% else %>
                  <s><%= product.price %></s> > <strong><%= @price=product.bargain %></strong>
                <% end %>
                <% @total = @price + @total %>
              </small>
            </h4>
            <p><%= product.snippet %></p>
          </td>
          <td >
            <form class="form-horizontal" role="form" id="form<%= i%>">
              <input type="hidden" name="up_id" value="<%= @up[i].id %>">
              <select name="amount" id="amount<%= i%>" class="form-control">
                <% (1..product.number).each do |pn|  %>
                  <option value="<%= @price * pn %>"><%= pn %></option>
                  <% if pn > 11 then %>
                    <% break %>
                  <% end %>
                <% end %>
              </select>
            </form>
          </td>
          <td id="count<%=i%>"><%= @price %> </td>
          <td>
            <% if !current_user.is_want?(product) %>
              <%= link_to('我想買',want_group_product_path(product.group_id,product),:method => "post") %>
            <% else %>
              <%= link_to('不想買了',not_like_group_product_path(product.group_id,product),:method => "post") %>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>
    <div>
      <p class="pull-right ">
        
        <%= link_to('結帳',"#", :class => "btn btn-primary ") %>
        <%= link_to('清空購物車',account_product_path(1), :class => "btn btn-default ", method: :delete) %>
      </p>
      <h4 class="pull-right ">合計：<span id="total"><%= @total %></span></h4> 
    </div>
  </div>
</div>
<script>
  $(function(){
    $('select').change(function(){
      total=0;
      amount=$(this).val();
      $.each($('select'),function(index, element){
        count="#count"+index
        $(count).html($(element).val());
        total+= Number($(element).val());
      });
      $('#total').html(total);

    });
    $('form').submit(function(event) {
      var $form = $(this);
      var $submit = $form.find("input[type=submit]");
      return false;
    });
  })
</script>