<%= render 'js/app.js' %>
<div class="row">
  <h1>購物車內容</h1>
  <div class="col-md-10 col-md-offset-1" >
    <table class="table">
      <thead><tr><th>#</th><th>商品名稱</th><th>價格</th><th>數量</th><th>小計</th></tr></thead>
      <% @count=0 %>
      <% @products.each_with_index do |product, i| %>
      
        <tr>
          <td><%= i+1 %></td>
          <td><%= product.name %></td>
          <td ><%= product.price %></td>
          <td>
            <%= form_for(product, :namespace => product.id, :url => '#', method: "put") do |f| %>
              <%= f.hidden_field(:id) %>
              <%= select_tag "amount_#{i}",options_for_select(1..12, product.amount)%>
            <% end %> 
            
          </td> 
          <td></td>
        </tr>
      <% end %>
    </table>
    <p class="pull-right">
      合計：<span id="total"><%= total(@products) %> </span>
      <%= link_to('結帳','#', :class => "btn btn-primary btn-xs") %>
      <%= link_to('清空購物車','#', :class => "btn btn-default btn-xs") %>
    </p>

  </div>
</div>