
<div class="row">
  <h1><%= @group.title %></h1>

  <div class="col-md-10 col-md-offset-1">

    <p><%= @group.description %></p>
    <%= link_to("修改",edit_group_path(@group),:class =>"btn btn-mini btn-primary") %>
    <%= link_to("新增商品",new_group_product_path(@group),:class =>"btn btn-mini btn-primary") %>
    <table class="table table-hover">
      <thead><tr><th>商品名稱</th><th>價格</th><th>數量</th><th></th></tr></thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.number %></td>
            <td><%= link_to("修改",edit_group_product_path(product.group_id,product)) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>