
<div class="container-fluid">
  <h1>
    <%= @group.title %>
      
  </h1>

  <div class="col-md-10 col-md-offset-1">
    <div class="pull-right ">
      <% if current_user  %>
        <% if current_user.is_member_of?(@group) %>
          <%= link_to("新增商品",new_group_product_path(@group),:class =>"btn btn-xs btn-success") %>
        <% end %>
        <% if @group.editable_by?(current_user) %>
          <%= link_to("編輯",edit_group_path(@group),:class =>"btn btn-xs btn-default") %>
        <% end %>
      <% end %>
    </div>
    <ul class="phones">
      <% @products.each do |product| %>
      <li class="thumbnail phone-listing">
        <%=link_to(image_tag(product.photo.thumb.url) ,group_product_path(product.group_id,product),:class =>"thumb") if product.photo? %>
        <%= link_to(product.name,group_product_path(product.group_id,product)) %>
        <% if user_signed_in? && @group.editable_by?(current_user) %>
          <%= link_to("修改",edit_group_product_path(product.group_id,product),:class => "btn btn-default btn-xs") %>      
        <% end %>     

        <p><%= product.snippet %></p>
        
      </li>
      <% end %>
    </ul>
  </div>
</div>