
<div class="row">
  <h1><%= @group.title %></h1>

  <div class="col-md-10 col-md-offset-1">

    <p><%= @group.description %></p>
    <% if current_user  %>
      <% if @group.editable_by?(current_user) %>
      <%= link_to("修改",edit_group_path(@group),:class =>"btn btn-mini btn-primary") %>
      <% end %>
      <% if current_user.is_member_of?(@group) %>
      <%= link_to("新增商品",new_group_product_path(@group),:class =>"btn btn-mini btn-primary") %>
      <% end %>
    <% end %>
    <table class="table table-hover">
      <thead><tr><th>商品名稱</th><th>價格</th><th>數量</th><th></th></tr></thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.number %></td>
            <td>
            <% if user_signed_in? && @group.editable_by?(current_user) %>
            <%= link_to("修改",edit_group_product_path(product.group_id,product)) %>            
            <% end %>
            <% if current_user.is_want?(product) %>
            <%= link_to("不買這個了",not_like_group_product_path(product.group_id,product), :method => :post) %> </td>
            <% else %>
            <%= link_to("我想買",want_group_product_path(product.group_id,product), :method => :post) %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>