<h1>我的訂單</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>寄送地址</th>
      <th>付款狀態</th>
      <th>付款方式</th>
      <th>取貨方式</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index do |order,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= order.address %></td>
        <td><%= order.pay_status %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.get_type %></td>
        <td><%= link_to '查看', order %></td>
        <% if order.pay_status ="未付款" %>
        <td><%= link_to '修改', edit_order_path(order) %></td>
        <td><%= link_to '取消', order, method: :delete, data: { confirm: '取消訂單?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
