<%= simple_form_for [@group,@product], html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: '產品名稱' %>
  <%= f.input :snippet,label: '簡介',:row => 4 %>
  <%= f.input :description ,label: '詳細說明',:row => 4 %>
  <%= f.input :price,label:'價格' %>
  <%= f.input :bargain,label:'特價' %>
  <%= f.input :special, as: :boolean, inline_label: '精選' %>
  <%= f.input :cost,label:'成本' %>
  <%= f.input :number,label:'存量' %>
  <%= f.input :photo,label: '產品圖片' %>
  <%= f.hidden_field :photo_cache %>
  <div class="col-md-offset-2 col-sm-3">
    <%= image_tag(@product.photo.thumb.url) if @product.photo? %>  
    <%= f.input :remove_photo, as: :boolean, inline_label: '刪除圖片' %>
  </div>
  <div class="form-actions col-md-offset-2">
    <%= f.submit "確認", :disable_with => '處理中....', :class => "btn btn-primary btn-lg " %>
  </div>
<% end %>