<div class="row">
  <h1>特價商品</h1>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <thead><tr><th>商品名稱</th><th>價格</th><th>數量</th><th></th></tr></thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><s><%= product.price %></s> > <strong><%= product.bargain %></strong></td>
            <td><%= product.number %></td>
            <td>
            <% if user_signed_in? && current_user.is_want?(product) %>
            <%= link_to("不買這個了",not_like_group_product_path(product.group_id,product), :method => :post) %> </td>
            <% else %>
            <%= link_to("我想買",want_group_product_path(product.group_id,product), :method => :post) %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>