<div class="row">
  <h2>編輯「<%= @product.name %>」</h2>
  <div class="col-md-10 col-md-offset-1">
    <%= simple_form_for([@group,@product], html: {class: 'form-horizontal',:multipart => true  }) do |f| %>
    <div class="form-group">

      <%= f.label "商品名稱", :class => "col-sm-2", :for => "product_name"  %>
      <div class="col-sm-8">
        <%= f.input_field :name, :class =>  "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "簡介", :class => "col-sm-2", :for => "product_snippet"  %>
      <div class="col-sm-8">
        <%= f.input_field :snippet, :class =>  "form-control",:row => 3 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "詳細說明", :class => "col-sm-2", :for => "product_description"  %>
      <div class="col-sm-8">
        <%= f.input_field :description, :class =>  "form-control",:row => 3 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "價格", :class => "col-sm-2", :for => "product_price"  %>
      <div class="col-sm-3">
        <%= f.input_field :price, :class =>  "form-control" %>
      </div>
      <%= f.label "成本", :class => "col-sm-2", :for => "product_cost"  %>
      <div class="col-sm-3">
        <%= f.input_field :cost, :class =>  "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "數量", :class => "col-sm-2", :for => "product_number"  %>
      <div class="col-sm-3">
        <%= f.input_field :number, :class =>  "form-control" %>
      </div>
      <%= f.label "特價", :class => "col-sm-2", :for => "product_bargain"  %>
      <div class="col-sm-3">
        <%= f.input_field :bargain, :class =>  "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">    
        <div class="checkbox">
            <%= f.input :special, as: :boolean, inline_label: '精選', label: false %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "圖片", :class => "col-sm-2", :for => "product_photo"  %>
      <div class="col-sm-8">
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
        <%= image_tag(@product.photo.thumb.url) if @product.photo? %>  
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">  
        <div class="checkbox">
            <%= f.input :remove_photo, as: :boolean, inline_label: '刪除圖片', label: false %>
        </div>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit "確認送出", :disable_with => '處理中....', :class => "btn btn-primary btn-lg  btn-block" %>
    </div>
    <% end %>
  </div>
</div>