<div class="row">
  <div class="phone-images">
    <%=image_tag(@product.photo.url,:class =>"phone") if @product.photo? %>
  </div>
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <% if !current_user.is_want?(@product) %>
    <%= link_to('我想買',want_group_product_path(@product.group_id,@product),:method => "post") %>
  <% else %>
  <%= link_to('不想買了',not_like_group_product_path(@product.group_id,@product),:method => "post") %>
  <% end %>

</div>